.titulo-texto {
    align-items: center;
    margin-top: 20px;
}

.texto {
    h1 {
        text-align: center;
        font-size: 30px;
        background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: map-get($colors, terciary);
    }
}
.carrusel-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.imagenes-carrusel {
    margin-top: 10px;
}
.card-procesador {
    padding: 10px;

}
.card-procesadores{
    width: 350px;
    padding: 10px;
    margin: auto;
    h5 {
        font-weight: bold;
    }
 
}

.card-custom{
    width: 350px;
    margin: auto;
    padding: 10px;
}
.title-productos {
    margin: 20px;
    h1 {
        font-size: 30px;
        font-weight: 600;
    }
}
h3{
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: start;
    color: #696868;

}

.button {
    width: 100%;
    border: none;
    background-color: #000000;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
}

@mixin btn-style ($background, $typography){ 
    background-color: $background;
    color: $typography;
    
}
.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    margin-top: 15px;
    margin-bottom: 15px;



    .producto {
        background-color: map-get($colors, secondary);
        width: 18rem;
        border: 1px solid;
        margin: 10px;


        .producto-img {
            display: flex;
            align-items: center;
            height: 250px;
            width: 100%;

            img{
                height: 250px;
                width: 100%;
                background-color: rgb(235, 235, 235);
            }
        }
        
        .producto-info {
            margin: 1.5rem;

            span {
                font-size: 1.5rem;
                font-weight:  bold;
            }

            p {
                margin-top: 1rem;
            }
        }

        .producto-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            .button-primary {
                @extend .button;
                @include btn-style( black,white );

                &:hover {
                    color: map-get($colors, hover-color);
                }
            }
        }
    }

}

.productos-principales {
    margin: 20px;
}

.pagos-envios {
   width: 100%;
   background-color: rgb(230, 230, 230);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-bottom: 20px;
   margin-top: 20px;
   
   
.pagos {
    
    text-align: center;

    span {
        font-size: 22px;
        color: black;
        font-weight: lighter;
    }
    
    p {
    
        font-size: 14px;
        color: #000000;
    }
    
    img {
        margin-right: 10px;
        width: 56px;
        height: 56px;
    }
    }
}

@media (max-width: 1100px) {
    .pagos-envios {
        flex-wrap: wrap;

        .pagos {
            margin: 20px;
        }
    } 
}