.sobre-nosostros__container {
    margin: auto;
    padding: 20px;

    .titulo-sobrenosotros { 
        width: 100%;
        text-align: start;
        font-size: 50px;
        font-weight: bold;
    }
    
}
.sobre-nosotros {
    p{  
        width: 100%;
        font-size: 15px;
        padding: 10px;
        text-align: start;
    }
}