.contenedor {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    .sobre-nosostros-container {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .subtitulo {
            text-align: center;
            margin: 20px;
            h1 {
                font-size: 50px;
                font-weight: bold;
            }

            p {
                text-align: initial;
                color: #464646;
                font-size: 18px;
            }
            h4 {
                font-weight: bold;
            }
        }
    }

    .subtitulo-img {
        display: flex;
        justify-content: center;
        margin: 30px;
        img {
            width: 350px;
        }
    }
}
